<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Selenium Easy" parallel="classes" thread-count="4">
    <test name="Demo Test">
        <classes>
            <class name="lt.gintare.seleniumeasy.pom.tests.BasicFirstFormTest"/>
            <class name="lt.gintare.seleniumeasy.pom.tests.BasicSelectDropDownTest"/>
            <class name="lt.gintare.seleniumeasy.pom.tests.BasicCheckBoxTest"/>
            <class name="lt.gintare.seleniumeasy.pom.tests.BasicRadioButtonTest"/>
        </classes>
    </test>
</suite>